.about-us {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: whitesmoke;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  .title {
    margin-top: 80px;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .about-paragraph {
    font-size: 15px;
    margin-bottom: 20px;
    width: 80%;
  }
}
